__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.qt-conda-env/
.qt-venv/
.venv/
artifacts/
build/
dist/
logs/
scratch/
/tools/
/source-archives/
/sources/
/cct-workbench/
/materials-cpp/
/pyrat/
/rat-common/
/rat-distmesh-cpp/
/rat-documentation/
/rat-math/
/rat-mlfmm/
/rat-models/
/rat-nl/
/rat-vcpkg/
/vcpkg/
.patch_probe
*.obj
